@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

#comment-title {
    width: 15%;
}

#user-name, #rating, #score {
    width: 10%;
}

#comment {
    width: 35%;
}

#delete {
    width: 5%;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

#item {
    padding-bottom: 30px;
}